<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <pre>
    <code lang="php">
      @extends('layouts.main')

@section('header')
  @include('components.header')
@endsection

@section('aside')
  @include('components.aside')
@endsection

@section('title', 'Produk')

@section('content')
  @if (Session::get('deleted'))
    &lt;script&gt;
      document.addEventListener('DOMContentLoaded', function() {
        showBasicAlert('', 'Berhasil Menghapus Data Produk!', 'success');
      });
    &lt;/script&gt;     
  @endif
  @if (Session::get('added'))
    &lt;script&gt;
      document.addEventListener('DOMContentLoaded', function() {
        showBasicAlert('', 'Berhasil Menambah Data Produk!', 'success');
      });
    &lt;/script&gt;     
  @endif
  @if (Session::get('updated'))
    &lt;script&gt;
      document.addEventListener('DOMContentLoaded', function() {
        showBasicAlert('', 'Berhasil Mengubah Data Produk!', 'success');
      });
    &lt;/script&gt;     
  @endif
  @if (Session::get('error'))
    &lt;script&gt;
      document.addEventListener('DOMContentLoaded', function() {
        showBasicAlert('', 'Produk sudah tertaut transaksi!', 'error');
      });
    &lt;/script&gt;     
  @endif
  &lt;div class=&quot;page-wrapper&quot;&gt;
    &lt;div class=&quot;page-breadcrumb&quot;&gt;
      &lt;div class=&quot;row align-items-center&quot;&gt;
        &lt;div class=&quot;col-6&quot;&gt;
          &lt;nav aria-label=&quot;breadcrumb&quot;&gt;
            &lt;ol class=&quot;breadcrumb mb-0 d-flex align-items-center&quot;&gt;
              &lt;li class=&quot;breadcrumb-item&quot;&gt;&lt;a href=&quot;{{ route('dashboard') }}&quot; class=&quot;link&quot;&gt;&lt;i class=&quot;mdi mdi-home-outline fs-4&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
              &lt;li class=&quot;breadcrumb-item active&quot; aria-current=&quot;page&quot;&gt;Produk&lt;/li&gt;
            &lt;/ol&gt;
          &lt;/nav&gt;
          &lt;h1 class=&quot;mb-0 fw-bold&quot;&gt;Produk&lt;/h1&gt; 
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;container-fluid&quot;&gt;
      &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-12&quot;&gt;
          &lt;div class=&quot;card&quot;&gt;
            @if (Auth::user()-&gt;role === 'admin')
              &lt;div class=&quot;card-body text-end&quot;&gt;
                &lt;a href=&quot;{{ route('product.create') }}&quot; class=&quot;btn btn-primary text-white&quot;&gt;Tambah Produk&lt;/a&gt;
              &lt;/div&gt;
            @endif
            &lt;div class=&quot;table-responsive&quot;&gt;
              &lt;table class=&quot;table table-hover&quot;&gt;
                &lt;thead&gt;
                  &lt;tr&gt;
                    &lt;th scope=&quot;col&quot;&gt;#&lt;/th&gt;
                    &lt;th scope=&quot;col&quot;&gt;&lt;/th&gt;
                    &lt;th scope=&quot;col&quot;&gt;Nama Produk&lt;/th&gt;
                    &lt;th scope=&quot;col&quot;&gt;Harga&lt;/th&gt;
                    &lt;th scope=&quot;col&quot;&gt;Stok&lt;/th&gt;
                  &lt;/tr&gt;
                &lt;/thead&gt;
                &lt;tbody&gt;
                  @php
                    $i = 1;
                  @endphp
                  @foreach ($products as $product)
                  &lt;tr&gt;
                    &lt;th&gt;{{ $i++ }}&lt;/th&gt;
                    &lt;td style=&quot;width: 100px&quot;&gt;&lt;img src=&quot;storage/{{ $product['image'] }}&quot; alt=&quot;{{ $product['name'] }}&quot; style=&quot;width: 100%&quot;&gt;&lt;/td&gt;
                    &lt;td&gt;{{ $product['name'] }}&lt;/td&gt;
                    &lt;td&gt;Rp. {{ number_format($product['price'], 0, ',', '.') }}&lt;/td&gt;
                    &lt;td&gt;{{ $product['stock'] }}&lt;/td&gt;
                    @if (Auth::user()-&gt;role === 'admin')
                      &lt;td&gt;
                        &lt;div class=&quot;d-flex justify-content-around&quot;&gt;
                          &lt;a href=&quot;{{ route('product.edit', $product['id']) }}&quot; class=&quot;btn btn-warning&quot;&gt;Edit&lt;/a&gt;
                          &lt;button type=&quot;button&quot; class=&quot;btn btn-info&quot; data-bs-toggle=&quot;modal&quot; data-bs-target=&quot;#updateStockModal-{{ $product['id'] }}&quot;&gt;Update Stock&lt;/button&gt;
                          &lt;form action=&quot;{{ route('product.delete', $product['id']) }}&quot; method=&quot;post&quot;&gt;
                            @csrf
                            @method('DELETE')
                            &lt;button class=&quot;btn btn-danger&quot; onclick=&quot;showDeleteConfirmationAlert(event, this.form)&quot;&gt;Hapus&lt;/button&gt;
                          &lt;/form&gt;
                        &lt;/div&gt;
                      &lt;/td&gt;
                    @endif
                  &lt;/tr&gt;
                  &lt;form action=&quot;{{ route('product.updateStock', $product['id']) }}&quot; method=&quot;POST&quot;&gt;
                    @csrf
                    @method('PATCH')
                    &lt;div class=&quot;modal fade&quot; id=&quot;updateStockModal-{{ $product['id'] }}&quot; tabindex=&quot;-1&quot; aria-labelledby=&quot;exampleModalLabel&quot; aria-hidden=&quot;true&quot;&gt;
                      &lt;div class=&quot;modal-dialog&quot;&gt;
                        &lt;div class=&quot;modal-content&quot;&gt;
                          &lt;div class=&quot;modal-header&quot;&gt;
                            &lt;h1 class=&quot;modal-title fs-5&quot; id=&quot;exampleModalLabel&quot;&gt;Update Stok Produk&lt;/h1&gt;
                            &lt;button type=&quot;button&quot; class=&quot;btn-close&quot; data-bs-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;&lt;/button&gt;
                          &lt;/div&gt;
                          &lt;div class=&quot;modal-body&quot;&gt;
                            &lt;div class=&quot;row&quot;&gt;
                              &lt;div class=&quot;col-md-12&quot;&gt;
                                &lt;div class=&quot;form-group&quot;&gt;
                                  &lt;label for=&quot;&quot; class=&quot;col-md-12&quot;&gt;Nama Produk &lt;span class=&quot;text-danger&quot;&gt;*&lt;/span&gt;&lt;/label&gt;
                                  &lt;div class=&quot;col-md-12&quot;&gt;
                                    &lt;input type=&quot;text&quot; name=&quot;name&quot; value=&quot;{{ $product['name'] }}&quot; class=&quot;form-control form-control-line&quot; readonly&gt;
                                  &lt;/div&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                              &lt;div class=&quot;col-md-12&quot;&gt;
                                &lt;div class=&quot;form-group&quot;&gt;
                                  &lt;label for=&quot;&quot; class=&quot;col-md-12&quot;&gt;Stok &lt;span class=&quot;text-danger&quot;&gt;*&lt;/span&gt;&lt;/label&gt;
                                  &lt;div class=&quot;col-md-12&quot;&gt;
                                    &lt;input type=&quot;number&quot; name=&quot;stock&quot; value=&quot;{{ $product['stock'] }}&quot; class=&quot;form-control form-control-line @error('stock') is-invalid @enderror&quot;&gt;
                                    @error('stock')
                                      &lt;div class=&quot;invalid-feedback&quot;&gt;
                                        Stock produk harus diisi!
                                      &lt;/div&gt;
                                    @enderror
                                  &lt;/div&gt;
                                &lt;/div&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                          &lt;div class=&quot;modal-footer&quot;&gt;
                            &lt;button type=&quot;button&quot; class=&quot;btn btn-secondary&quot; data-bs-dismiss=&quot;modal&quot;&gt;Batal&lt;/button&gt;
                            &lt;button type=&quot;submit&quot; class=&quot;btn btn-primary&quot;&gt;Update&lt;/button&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/form&gt;
                  @endforeach
                &lt;/tbody&gt;
              &lt;/table&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
@endsection
    </code>
  </pre>
  </body>
  <script>
    document.body.style.zoom = "1%";
  </script>
</html>
